.stake-page{
    display: flex;
}

.stake-container{
    width: 95vw;
}

.staking-heading{
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    color: #fff;
    font-size: 51px;
    margin: 0;
}

.staking-para{
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 22px;
    margin: 0;

}

.staking-sub-para{
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 22px;
    margin: 0;
}

.reward-box{
    background-color: #3B3B3B;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 1rem;
    border-radius: 20px;
}

.reward-box p {
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;
    color: #fff;
    font-size: 38px;
}

.reward-box button{
    background: #A259FF;
    padding: 10px 50px;
    border: none;
    border-radius: 10px;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
}

.stake-box{
    width: 100%;
}

.stake-box .stake-unstake-btns{
    background: #2B2B2B;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.stake-box .stake-unstake-btns button{
    background: none;
    width: 25%;
    border: none;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    padding: 1rem;
    border-bottom:  1px solid rgba(0, 0, 0,0);
}

.border-bottom{
    border-bottom:  1px solid #fff;
}

.select-btn{
    padding: 10px 20px;
    background-color:#3B3B3B;
    border: none;
    color: #fff;
    border-radius: 6px;
    width: 150px;
}

.stake-btn{
    padding: 10px 20px;
    background-color:#A259FF;
    border: none;
    color: #fff;
    border-radius: 6px;
    width: 150px;
}

.progress-circle{
    position: absolute;
    left: 10px;
}

.stake-loading .spinner-border {
    height: 15px !important;
    width: 15px !important;
    border-width: 2px !important;
}

.btn-loader{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.staking-cards-container{
    max-height: 55vh;
    height: 100%;
    overflow: auto;
}

.staking-cards-container::-webkit-scrollbar {
    display: none;
    width: 0px;
}
.navb-desktop{
    display: block !important;
}
.navb-mobile{
    display: none !important;
}

.staking-btns-container{
    width: 100%;
    bottom: 0;
    background-color: #151515;
    height: 60px;
    align-items: center;

}

@media (max-width : 1024px) and (min-width : 768px){    
    .staking-heading{
        font-size: 40px;
    }
    
    .staking-para{
        font-size: 16px;
    }
    
    .staking-sub-para{
        font-size: 14px;
    }
    .navb-desktop{
        display: none !important;
    }
    .navb-mobile{
        display: block !important;
    }
}

@media (max-width : 767px) and (min-width : 600px){    
    .staking-heading{
        font-size: 35px;
    }
    
    .staking-para{
        font-size: 14px;
    }
    
    .staking-sub-para{
        font-size: 12px;
    }
    .navb-desktop{
        display: none !important;
    }
    .navb-mobile{
        display: block !important;
    }
}

@media (max-width : 599px){    
    .staking-heading{
        font-size: 30px;
    }
    
    .staking-para{
        font-size: 14px;
    }
    
    .staking-sub-para{
        font-size: 12px;
    }
    .stake-container{
        width: 100vw;
    }
    .reward-box p {
        font-size: 24px;
    }
    .navb-desktop{
        display: none !important;
    }
    .navb-mobile{
        display: block !important;
    }
    .staking-texts{
        display: none;
    }
    .staking-cards-container{
        max-height: 65vh;
    }
}